<!DOCTYPE html>
<html lxmlns:th="http://www.thymeleaf.org" th:insert="~{layout :: base(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="background-color:cadetblue">

    <div class="row" style="text-align:center">
        <div class="col-md-4">
            <h1 style="text-align:center;color:navy">Iniciar sesion</h1>
            <form th:action="@{/login}" method="post">
            <div>
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" name="username">
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input id="password" type="password" name="password">
            </div>
            <button>Iniciar sesion</button>
        </form>
        </div>
    </div>

</body>
</html>