<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:insert="~{layout :: base(~{::title}, ~{::body})}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Empleados</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body style="background-color:cadetblue">
    
    <div class="row" style="text-align:center">
        <div class="col-md-4">
            <h1 style="text-align:center;color:navy">EMPRESA CL3</h1>
        <p></p>
        </div>
    </div>
    
</body>
</html>